.navbar{
    background:rgba(0, 0, 0, 0.6);
 }
 .navbar .dropdown-menu{
     background:rgba(0, 0, 0, 0.6);
 }
 .dropdown:hover>.dropdown-menu{
     display: block;
 }
 .dropdown-item{
     color: rgba(255, 255, 255, 0.5);
 }
 .dropdown-item:hover{
     color: rgba(255, 255, 255, 0.75);
     background:rgba(0, 0, 0, 0.6);
 }
 .dropdown-item.active, .dropdown-item:active {
     background:rgba(0, 0, 0, 0.6);
 }
/*Design for qoute*/
.sub{
    font-size: 15px;
    padding: 0px 0px 0px 40px;
}